extends layout

block content
  
  .constrained

    h1 Appbot
    h3 Empowering organisations to build their own software platforms, just like startups do.
    
    h3 We are shifting the Enterprise Software Paradigm 
    h2(style="margin-left:100px;line-height:1px;") by Technical Methodologies to Business Process.


    hr
    h4 We are currently defining and building our product following Lean Ideals.
    h1 Contact Us: earlyadopter@appbot.us
    

